---
layout: master
---

<!-- include header -->   
  {% for header in site.blocks[page.lang] %}
    {% if header[0] == "jumbo" %}
      {% assign body = header[1] %}
      {% include {{ body }} %}
    {% endif %}
  {% endfor %}

<section class="content mt-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p><strong>Site title:</strong> {{ site.title[page.lang] }}</p>
        <p><strong>Page title:</strong> {% if page.title %}{{ page.title | escape }}{% else %}{{ site.title[page.lang] | escape }}{% endif %}</p>
        <p><strong>Page keywords:</strong> {% if page.title %}{{ page.title | escape }}{% else %}{{ site.keywords[page.lang] | escape }}{% endif %}</p>
        <p><strong>Page language:</strong> {{ page.lang }}</p>
        <p><strong>Page description:</strong> {% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description[page.lang] }}{% endif %}</p>
      </div>
      <div class="col-sm-6">
        {{content}}
      </div>
    </div>
  </div>
</section>